@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  width: 100%;
}

@layer base {
  :root {
    --background: hsl(210, 20%, 98.04%);
    --foreground: hsl(224, 71.43%, 4.12%);
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: hsl(210, 20%, 98.04%);
    --secondary-foreground: hsl(210, 20%, 98%);
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
    --bg-primary: hsl(210, 20%, 98.04%);
    --bg-secondary: hsl(220.91, 39.29%, 10.98%);

    --text-primary: hsl(224, 71.43%, 4.12%);
    --text-secondary: hsl(210, 20%, 98%);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 25%;
    --popover-foreground: 210 40% 98%;
    --primary: hsl(220.91, 39.29%, 10.98%);
    --primary-foreground: hsl(210, 20%, 98.04%);
    --secondary: hsl(217, 21%, 20%);
    --secondary-foreground: rgb(230, 230, 230);
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

.borderBlack {
  @apply border border-black/10;
}

.formInput {
  @apply block rounded-lg border bg-white text-primary dark:text-black/80 focus:border-black/100 focus:outline-none dark:focus:ring-gray-700 focus:ring-1 focus:ring-black/100 focus:ring-opacity-40;
}
